.todo-card {
  display: flex;
  flex-direction: column;
}

.todo-nav {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-goal,
.todo-done {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.todo-timegiven {
  font-size: 14px;
}
.todo-goal div {
  margin: 0.5rem 0.5rem;
}
.todo-done {
  border-radius: 50%;
  padding: 0.2rem;
  border: 2px solid white;
  color: white;
  background-color: black;
}

.todo-assigned {
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid black;

  background-color: #0c134f;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-content {
  display: flex;
  font-size: 2rem;
  padding: 1rem 0.5rem;
}
.todo-card {
  border-radius: 10px;
  margin: 0.2rem 0.5rem;
  background-color: #b6eafa;
}
.todo-card:nth-child(n) {
  background-color: #b6eafa;
}
.todo-card:nth-child(2n) {
  background-color: #d4adfc;
}
.todo-card:nth-child(3n + 1) {
  background-color: #ffd3a3;
}
